body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #0d1a3a, #001428);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 4rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    max-width: 1450px;
    width: 100%;
}

.login-box {
    background: rgba(9, 51, 102, .4);
    border: .5px solid #167bf7;
    border-radius: .3125em;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.login-box h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.login-box p {
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
    color: #cfd8e3;
}

.login-box button {
    background: #7CFFCB;
    border: none;
    color: #000;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background 0.3s;
}

.login-box button:hover {
    background: #64d9a7;
}

.title {
    text-align: center;

    h2 {
        font-size: 1.8rem;
        font-weight: bold;
        margin: 0;
    }

    p {
        margin: 0.5rem 0 2rem 0;
        font-size: 1rem;
        color: #cfd8e3;
    }
}

.btn-login {
    display: inline-block;
    background: #7CFFCB;
    border: none;
    color: #000;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background 0.3s;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.btn-login:hover {
    background: #64d9a7;
}

.courses {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    border: .2px solid #167bf7;
    border-radius: .3125em;
    padding: 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.card h3 {
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

.card p {
    font-size: 14px;
    font-weight: bold;
    margin: 0.3rem 0 0.8rem;
    text-transform: uppercase;
}

.card span {
    font-size: 13px;
    line-height: 17px;
}

